/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
armv7-android/FKProtocol
debug.keystore
debug.keystore.pass.txt
manifest.private.der
manifest.public.der
js-web